@use './variables.scss' as *;
@use './mixins.scss' as *;
@import url('https://v1.fontapi.ir/css/Estedad');
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/9e151e6921f4d7f05bda761ad8861fb85fa2d392edacc683527f660cd374c72b.woff2") format("woff2");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/d5a78e10f9bad2c3a36ba3ac23547b4a051ced4c6fb992bff23dadb3f1650dbd.woff2") format("woff2");
     font-weight: 200;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/4c6ab7760af82ef9f91b4a5a92d1e81083b6b6e99d51f789c90a024d28fec42e.woff2") format("woff2");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/4cfe6e00e24c8853f545011a2e2c39604c0322b3193abe927127211e02fd2d03.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/59ae9738177074c7a2cd924ed5589e8043c0cd5330b859f3b00d52b48af4ff69.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/4705f26c49e1d402dc34b88f294b142b855fbc030fb776f92a45d7dfd4106fa4.woff2") format("woff2");
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/51681de94ab9b51696bb853004f7d6e6f9487d1652640f515caba5a82feb447c.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/40211372e6e9ddf3392c8d465a667c66e9f512451c1b9fe703574d8d1975ecba.woff2") format("woff2");
     font-weight: 800;
     font-style: normal;
}
@font-face {
     font-family: "Estedad";
     src: url("https://cdn.fontcdn.ir/Fonts/Estedad/357e78e89cb805f75f51e6f08179b33a7b634fff99cc47719fd1a721ea19315e.woff2") format("woff2");
     font-weight: 900;
     font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Estedad', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  // transition: .3s;
}

body {
  direction: rtl;
  background:#fff;
  color:#111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none
}

.container {
  width: min(1100px, 92%);
  margin: 0 auto;
}

/*============ Spinner & Scrollbar styles ============*/

/* bar color */
#nprogress .bar {
  background: $accent !important;
}

/* spinner color(loading circle) */
#nprogress .spinner-icon {
  border-top-color: $accent;
  border-left-color: $accent;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* thickness */
}

::-webkit-scrollbar-track {
  background: #1f242d; /* bg */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 10px;

  &:hover {
  background: $accent; /* hover */
  }
}

/* for Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: $accent #1f242d;
}
