@use "../../styles/variables.scss" as *;

.contact{
    padding: 40px 0;
    display: grid;
    text-align: center;
    background-image: url("../../assets/images/tire-print.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    // align-items: center;
    justify-content: center;
}

.contact h4 {
    font-size: 32px;
    font-weight: 700;
    color: $accent;
    margin: 3.3rem 0 1rem 0;
}

// .container {
//     position: absolute;
//     padding: 1px 4rem 1rem 4rem;
//     flex-shrink: 0;
// }

.form {
    display: flex;
    width: 1142px;
    height: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 3.3rem;
    text-align: right;
    border-radius: 22px;
    background: #fff;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

label {
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    padding: 6px;
    // padding-right: 3rem;
    overflow: hidden;
}

.form .inputbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form .inputbox input {
    width: 437px;
    height: 65px;
    margin-top: 1rem;
    overflow: hidden;
}

#email {
    margin-right: 2rem;
}

.form .inputbox label {
    padding: 0 0 4rem 13rem;
    overflow: hidden;
}

.form .inputbox input,
.form textarea,
.form input {
    padding: 10px;
    font-size: 17px;
    margin-bottom: 1rem;
    color: #000;
    border: 2px solid #BBBBBB;
    outline: none;
    border-radius: 21px;
    transition: all .5s ease;
    overflow: hidden;
}
.form input:focus,
.form textarea:focus {
    border-color: $accent;
}

.subject {
    width: 906px;
    height: 65px;
}

.inputbox2 {
    display: grid;
}

.form textarea {
    width: 901px;
    height: 150px;
}

input::placeholder,
textarea::placeholder {
    color: #D4717D;
}

.form button{
    position: relative;
    width: 466px;
    height: 69px;
    background: $accent2;
    color:white;
    padding: 10px;
    margin-top: 1.5rem;
    font-size: 24px;
    font-weight: 400;
    border-radius: 21px;
    border:none;
    transition: .3s ease-in-out;
    cursor:pointer;

    &:hover { 
        transform: scale(1.03);
     }

     &:focus {
        box-shadow: 4px 4px 7px 0px #00000059;
     }
}

/* Mobile */
@media (max-width: 576px) {

    .contact {
        height: 900px;
        background-size: 80rem;

        & h4 {
            font-size: 24px;
            margin-top: 2.2rem;
        }
    }

    .subject {
        width: 303px;
        height: 35px;
        border-radius: 8px !important;
        border: 1px;
    }

    #email {
        margin-right: 5px;
    }

    .form .inputbox input,
    .form textarea,
    .form input {
        font-size: 13px;
        border: 1px solid #BBBBBB;
        margin-bottom: 4px;

        &:focus {
            border-color: $accent;
        }
    }

  .form {
    width: 100%;
    display: flex;
    height: fit-content;
    margin-bottom: 6rem;
    padding: 2rem 15px 2rem 15px;
    border-radius: 17px;

    & label {
        font-size: 14px;
        font-weight: 600;
        padding: 3px;
    }

    & .inputbox {
        display: grid;
        display: inline-flex;
        justify-content: flex-end;
        text-align: center;

        & label {
            padding: 0;
        }
    }

    & .inputbox input {
        width: 140px;
        height: 35px;
        border-radius: 8px;
        margin-left: 10px;
    }

    & textarea {
        width: 307px;
        height: 124px;
        border-radius: 8px;
    }

    & button {
        width: 281px;
        height: 50px;
        font-size: 18px;
        margin-top: 10px;
        overflow: hidden;
    }
  }
}

/* Tablet (iPad Mini/Air) */
@media (min-width: 768px) and (max-width: 1024px) {

    .contact {
        height: 800px;
    }

    .contact h4 {
        font-size: 28px;
    }

    .subject {
        width: 480px;
        height: 46px;
        border-radius: 15px;
        border: 1px;
    }

    #email {
        margin-right: 1rem;
    }

    .form .inputbox input,
    .form textarea,
    .form input {
        font-size: 16px;
        border: 1.5px solid #BBBBBB;
        border-radius: 18px;
        margin-bottom: 4px;

        &:focus {
            border-color: $accent;
        }
    }

    .form {
        width: 100%;
        height: 450px;
        padding: 0 5rem 0 5rem;
        text-align: center;

        & label {
            font-size: 16px;
            font-weight: 500;
            padding: 3px;
        }

    & .inputbox {
        display: grid;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;

        & label {
            padding: 0 0 0 7rem;
            align-items: center;
        }
    }

    & .inputbox input {
        width: 230px;
        height: 46px;
        border-radius: 15px;
    }

    & textarea {
        width: 480px;
        height: 106px;
        border-radius: 15px;
    }

    & button {
        width: 281px;
        height: 50px;
        font-size: 18px;
        margin-top: 10px;
        overflow: hidden;
    }
    }
}

/* Tablet (iPad Pro) */
// @media (min-width: 1024px) and (max-width: 1366px) {

//     .contact h4 {
//         font-size: 28px;
//     }

//     .container {
//         width: 81%;
//         height: 495px;
//         margin-right: -8%;
//         padding: 2rem 6rem 1rem 5rem;
//     }

//     .subject {
//         width: 640px;
//         height: 46px;
//         border-radius: 8px !important;
//         border: 1px;
//     }

//     .form .inputbox input,
//     .form textarea,
//     .form input {
//         font-size: 16px;
//         border: 1.5px solid #BBBBBB;
//         border-radius: 18px;
//         margin-bottom: 4px;

//         &:focus {
//             border-color: $accent;
//         }
//     }

//     .form {
//         width: 100%;
//         height: fit-content;
//         padding: 0;

//         & label {
//             font-size: 17px;
//             font-weight: 500;
//             padding: 3px;
//         }

//     & .inputbox {
//         display: grid;
//         display: inline-flex;
//         justify-content: flex-end;
//         align-items: center;

//         & label {
//             padding: 0 0 0 12rem;
//             align-items: center;
//         }
//     }

//     & .inputbox input {
//         width: 310px;
//         height: 46px;
//         border-radius: 8px;
//         margin-left: 14px;
//     }

//     & textarea {
//         width: 640px;
//         height: 106px;
//         border-radius: 8px;
//     }

//     & button {
//         width: 281px;
//         height: 50px;
//         font-size: 18px;
//         margin-right: -2rem;
//         margin-top: 10px;
//         overflow: hidden;
//     }
//     }
// }