@use '../../styles/variables.scss' as *;

.blog {
    padding: 40px 0;
    display: flex;
    align-items: center;
    height: 700px;
    width: 100%;
    overflow: hidden;
}

.blog h4 {
    color: $accent;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5rem;
    text-align: center;
}

.list {
    padding-top: 4rem;
    display:flex;
    gap: 6rem;
    justify-content: center;
}

.post {
    width: 600px;
    height: 350px;
    background: $accent;
    align-items: center;
    padding: 40px;
    border-radius: 21px;
    color: #fff;
    overflow: hidden;
    transition: .3s ease-in-out;

    &:hover {
    background: #404040;
    }
}

.post img {
    position: absolute;
    margin: -7rem 3rem 0 0;
    width: 300px;
    height: 120px;
}

.post h5 {
    font-size: 24px;
    font-weight: 500;
    padding-top: 1rem;
    cursor: pointer;
}

.post p {
    font-size: 19px;
    font-weight: 400;
    padding-top: 1rem;
    text-align: justify;
}

.post a {
    text-decoration: underline;
    margin-right: 17rem;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

// Mobile
@media (min-width: 300px) and (max-width: 880px) {

    .blog {
        height: fit-content;
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .list {
        display: grid;
    }

    .post {
        width: fit-content;
        height: fit-content;

        & h5 {
            font-size: 17px;
        }

        & p {
            font-size: 16px;
            text-align: justify;
        }

        & a {
            font-size: 17px;
        }

        & img {
            width: 200px;
            height: 80px;
            margin: -5.8rem 2rem 0 0;
        }
    }

    .post a {
        margin: 0;
        margin-right: 55%;
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {

    .blog h4 {
        margin-top: 4rem;
        margin-bottom: 3rem;
        font-size: 28px;
    }
    
    .post {
        width: fit-content;
        height: fit-content;

        & h5 {
            font-size: 20px;
        }

        & p {
            font-size: 18px;
            text-align: justify;
        }

        & a {
            font-size: 16px;
            margin-right: 0;
            text-align: left !important;
        }

        & img {
            width: 220px;
            height: 90px;
            margin: -5.8rem 3rem 0 0;
        }
    }
}
